body {
    background-image: url("../images/yanks.jpg");
    background-size: cover;
}
.yanksBar {
    opacity: 0.7;
}

#container {
    height: 400px;
    width: 50%;
    opacity: 0.7;
    margin: auto;
    margin-top: 10%;
    padding: 1%;
}

#timer {
    background-color: blue;
    height: 50px;
    width: 50%;
    margin: auto;
    margin-top: 5%;
}

#text {
    background-color: blueviolet;
    height: 50px;
    width: 50%;
    margin: auto;
    margin-top: 5%;
}

#button {
    background-color: red;
    height: 50px;
    width: 50%;
    margin: auto;
    margin-top: 5%;
}